section.slider
  .slider-item.fade
    img(src="img/slider/Bg-image.svg", alt="slider")
    .slider-item__text Первый слайд
  .slider-item.fade
    img(src="img/slider/Bg-image.jpg", alt="slider")
    .slider-item__text Второй слайд
  .slider-item.fade
    img(src="img/slider/Bg-image2.jpg", alt="slider")
    .slider-item__text Третий слайд
  .slider-item.fade
    img(src="img/slider/Bg-image3.jpg", alt="slider")
    .slider-item__text Четвертый слайд
  .prev
    i.prev__icon.fa.fa-arrow-circle-left
  .next
    i.next__icon.fa.fa-arrow-circle-right
  .slider-dots
  .dot.dot-active
  .dot
  .dot